@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Color */

.user.1488 {
 background:url("https://media.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy.gif");
 color: rgba(0,240,0,.2);
 display:inline-block;
 background-clip: text;
 -webkit-background-clip: text;
}

.ui.avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
    border-radius: 20px;
    width: 140px;
    border: 2px solid;
    border-color: hsl(var(--base), 80%, 80%);
 }
}