{{/*###
Handler=/
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
	<div class="ui container">
		<h1>Homepage</h1>
			</div>
				</div>
					<div class="h-container">
					<div class="ui margined container" id="messages-container">
					<noscript>Research has proven this website works 10000% better if you have JavaScript enabled.</noscript>
				</div>
					<div class="ui container">
					<div class="ui segment penis-block" style="height: 500px; overflow: hidden;">
					<div class="gameplay-video js-scale">
					<video autoplay="" loop="" muted="" src="/static/images/game.m4v" class="disappearplease" style="height: 100%; width: 100%; filter: blur(2px);"></video>
				</div>
					<div class="hifumi"></div>
					<div class="gameplay-above">
					<div class="welcome-kawata">Welcome to Kawata</div>
					<div class="welcome-bio">Kawata is the first and only osu! private server that allows Hacking. Things such as better relax, HD remover, and DT remover!</div>
					<span class="buttons">
						<button class="btn-hover color-2" onclick="window.location.href='/register'">Register</button>
					</span>
					<span class="buttons">
						<button class="btn-hover color-1" onclick="window.location.href='/doc/rules'">Read the Rules</button>
					</span>
					<span class="buttons">
						<button class="btn-hover color-3" onclick="location.href='https://discord.gg/4czsqkk'">Discord Server</button>
					</span>
				</div>
			</div>
		</div>
	</div>

<div class="ui segment">
	<h1>Hi there!</h1>

	<p>{{ .T "If you have found an issue, do not hesitate to contact us, on our <a href='%s' target='_blank'>Discord server</a>, for example." (config "DiscordServer") | html }} </p>

	<p>Thanks!</p>
</div>
	{{/* Global Statistics */}}
<center>
<div class="ui center aligned container">
        <div class="ui stackable center aligned four grid">
            <div class="five wide column">
                <div class="ui clear segment">
                    <div class="ui grid">
                        <div class="two wide column">
                        </div>
                        <div class="twelve wide column">
			{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
                            <p class="status-head">{{ $d.pp }}pp</p>
			    <p class="status-head">Done by <a href="/u/{{ $d.id }}">{{ $d.username }}</a></p>
                            <p class="status-footer">Top Vanilla Score</p>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</div> {{/* Global Stats end past this /div */}}
</div>
{{ end }}

